.elementBackground {
  padding: 25px;
  background-color: #f4fafd;
  width: 100%;
}

.elementPosition {
  width: 100%;
  position: relative;
<<<<<<< HEAD
=======
  left: -27%;
>>>>>>> 55348779dde8e007463ae19ede0ee0f16c218c6a
}

.title {
  color: #69c4f5;
  position: relative;
<<<<<<< HEAD
=======
  left: -40%;
>>>>>>> 55348779dde8e007463ae19ede0ee0f16c218c6a
}
