.elementBackground {
  padding: 25px;
  background-color: #f4fafd;
  width: 100%;
}

.elementPosition {
  width: 100%;
  position: relative;
}

.title {
  color: #69c4f5;
  position: relative;
}

.optionPicker:focus {
  border: none;
  box-shadow: none;
}
